body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

.full {
    background: url(../img/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.7);
}
/**************************************************************************
LEFT SIDE AND RIGHT SIDE
**************************************************************************/
.leftside{
    background-color: #0E161A;
    padding-right: 0px !important; 
    padding-left: 0px !important;
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    color : white;
}

.rightside{
    background-color: white;
    padding-left: 10px;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
    padding-right: 0px !important; 
    padding-left: 0px !important;
}
/**************************************************************************
SEARCH
**************************************************************************/
.searchbar{
    background-color: #D64951;
    padding:10px;
    border-top-left-radius: 10px; 
}

/**************************************************************************
MENU
**************************************************************************/
.menubar{
    background-color: #0E161A;
}
.menu-title{
    padding-top:15px;
    padding-left:15px;
    font-size: 18px;
}

.menu-item{
    color:white;
    font-size: 15px;
}
.menu-ul{
    color:white;
    list-style-type: none;
}
/**************************************************************************
TITLE
**************************************************************************/
.titlebar{
    background-color: white;
    padding:10px;
    padding-bottom:10px;
    margin-left:10px;
    margin-top:15px;
    border-top-right-radius: 10px; 
    color:black;
    font-size: 20px;
}

.totalmovies{
    float:right;
    position: absolute;
    top:0;
    right:0;
    margin:25px;
    font-size: 16px;
}

/**************************************************************************
CONTENT
**************************************************************************/
.contentbar{
    border-bottom-right-radius: 10px; 
}

/*
* Row with equal height columns
* --------------------------------------------------
*/
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.card{
    height: 500px !important;
}

/**************************************************************************
SEARCH BAR
**************************************************************************/

.box{
    width: 100%;
    height: 50px;
}

.container-1{
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    width: 100%;
    height: 50px;
    background: #D64951;
    border: none;
    font-size: 12pt;
    float: right;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
    color: white;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}

.container-1 input#search:-ms-input-placeholder {  
    color: white;  
}

.container-1 .icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
    font-size: 23px;
    color: white;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: white;
    color: black;
}










.featured-movie {
  position: relative;
}
.featured-movie .cover {
  width: 100%;
  display: block;
}
.featured-movie .corner-title {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  color: #FFF;
  background: rgba(25, 25, 25, 0.3);
  padding: 10px;
  font-size: 13px;
}
.featured-movie .bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  background: rgba(10, 10, 10, 0.8);
  color: #FFF;
  overflow: hidden;
}
.featured-movie .bottom-bar .title-container {
  float: left;
  font-weight: 100;
  font-size: 40px;
}
.featured-movie .bottom-bar .title-container .fa {
  margin-right: 10px;
  color: #FF3A3A;
}
.featured-movie .bottom-bar .title-container b {
  font-weight: 600;
}
.featured-movie .bottom-bar .right {
  float: right;
  font-size: 14px;
  margin-top: 14px;
}
.featured-movie .bottom-bar .right .stars {
  float: left;
  color: #F0C236;
  margin-right: 20px;
}
.featured-movie .bottom-bar .right .share {
  float: left;
  cursor: pointer;
}
.featured-movie .bottom-bar .right .share .fa {
  margin-right: 5px;
}